@import "variables";

.share-btns{
  width: 40px;
  position: fixed;
  right: -1px;
  top: 35%;
  z-index: 9;
  //background-color: rgba(231,76,60,0.5);
  background-color: $body-color;
  text-align: center;
  border: 1px solid $border-color;
  border-radius: 3px 0 0 3px;
  font-size: 15px;
  padding: 10px;

  &:hover{
    border: 1px solid $accent-color;
  }
  .heart-btn{
    i{
      color: $accent-color;
    }
  }
  .fb-btn, .tw-btn{
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }
}