{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "jsx-ally/anchor-is-valid": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/href-no-hash": 0
  },
  "globals": {
    "document": 1
  },
  "parser": "babel-eslint",
  "env": {
    "browser": 1
  }
}