.tag-list > li {
  padding: 10px 10px 0 0; }

.tag-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.6); }
  .tag-link:hover {
    background-color: #d9d9d9; }
