.users-modal-box {
  display: inline-block;
  margin: 0 16px; }
  .users-modal-box .icon-btn {
    color: #0288d1;
    font-size: 1.2em; }

.users-modal .ant-modal-body {
  padding: 8px;
  padding-right: 4px; }

.users-list {
  padding-right: 4px; }
  .users-list .user-widget {
    border: none;
    margin-bottom: 0; }
  .users-list li {
    border-bottom: 1px solid #d9d9d9; }
    .users-list li:last-of-type {
      border-bottom-color: transparent; }

.load-more {
  background-color: #f6f6f6;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  outline: none;
  transition: 0.2s all linear;
  text-transform: capitalize;
  color: #0288d1;
  padding: 4px 8px;
  height: 35px;
  margin-top: 8px; }
  .load-more:hover {
    background-color: rgba(2, 136, 209, 0.1); }
