@import "../../../assets/scss/variables";

.post-cover {
  overflow: hidden;
  min-height: 300px;
  background-size: cover;
  position: relative;
  &:before{
    content: ' ';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 200%);
  }
  a{
    display: block;
    img{
      width: 100%;
      height: 100%;
    }
  }

}

.post {
  margin-bottom: 16px;
  border-radius: 6px;
  border: 2px solid transparent;
  position: relative;
  &:hover {
    transition: 0.3s all linear;
    &:before {
      content: ' ';
      position: absolute;
      border-radius: 6px;
      left: -10px;
      bottom: -10px;
      height: calc(100% + 20px);
      width: calc(100% + 20px);
      background-color: rgba(0, 0, 0, 0.05);
      animation: 0.2s bg-scale-up ;
    }
    .post-short-details {
      >div:before{
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(242, 242, 242, 1) 100%);
      }
    }
    .story-counts {
      opacity: 0.9;
    }
  }
  .post-short-details {
    color: inherit;
    display: block;
    padding: 8px 16px;
    >div {
      height: 195px;
      overflow: hidden;
      position: relative;
      &:before{
        content: ' ';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        z-index: 2;
      }
    }
    .title {
      letter-spacing: 0.05em;
      line-height: 2.2em;
    }
    .s-description {
      font-size: 1.4em;
    }
    .desc {
      font-size: 1.3em;
      a {
        word-break: break-all
      }
    }
  }
  .post-writer {
    padding: 0 16px;
  }
  &.post-first {
    .post-cover {
      height: 300px;
      a {

      }
    }
  }
  .post-cover {
    border-radius: 6px;
  }
}
.story-counts {
  color: white;
  position: absolute;
  left: 32px;
  bottom: 16px;
  z-index: 3;
  opacity: 0.5;
  >div {
    display: inline-block;
  }
  .with-no {
    width: auto;
    max-width: 70px;
    min-width: auto;
    i {
      font-size: 1.1em;
    }
  }
}