.user-widget {
  position: relative;
  border: 1px solid #d9d9d9;
  padding: 8px 8px 8px 48px;
  border-radius: 2px;
  margin-bottom: 16px; }
  .user-widget > span:first-of-type {
    position: absolute;
    left: 6px;
    top: 8px; }
  .user-widget .user-info .-bio {
    font-size: 0.9em;
    color: #595959;
    opacity: 0.8; }
  .user-widget .user-info .follow-btn {
    margin-left: 4px;
    border-radius: 20px;
    height: 21px;
    width: 80px; }
