@import "../../../assets/scss/variables";

.comment-header {
  padding: 10px 0;
  border-bottom: 2px solid $border-color;
  >li{
    width: 100px;
    margin-right: 10px;
    i{
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

.comment-editor-container {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 10px 20px;
  transition: 0.3s all ease-in-out;
  .-user {
    overflow: hidden;
    .user-avatar {
      margin-right: 12px;
    }
    > strong {
      position: relative;
      transition: 0.2s all linear;
    }
  }
  .comment-editor{
    .ant-input {
      resize: none;
      font-size: 14px;
      border: none;
      box-shadow: none;
      //max-height: 50px;
      &::placeholder{
        font-size: 16px;
      }
      &.expanded{
      //max-height: none;
    }
    }

  }
}
